<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Book</title>
</head>
<body>
    <header>
        <img src="/Images/logo.jpeg" class="logo-image" alt="">
    </header>
    <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Bestsellers</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
    </nav>
    <span>
        <img src="/Images/hero.jpeg" class="heroimage" alt="An illustration of six plants in the center with a cream background.">
        <p class="title-top">The Great Book Store</p>
    </span>
    <span aria-label="Breadcrumb" class="breadcrumb">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Newest</a></li>
            <li><span aria-current="page">From the Depths by...</span></li>
        </ul>
    </span>
    <div class="card">
        <img src="/Images/waterbook.jpeg" class="card-img-top" alt="From The Depths Book by Jimmy Colson with an image cover of a man swimming to the surface of water.">
    <div>
      <h3>Title: From The Depths</h3>
      <h4>Author: Jimmy Colson</h4>
      <h5>Price: $12.99 US $16.15 CA</h5>
      <p>This is a new adventure book that is about the tough journey of a young man who ultimately finds success in the world.</p>
      <a href="#" class="btn">Read Now!</a>
    </div>
    </div>
    <footer>
        <div class="footer-container">
        <p>&copy; 2023 CreativeBooks.com</p>
        <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
         <li><a href="#">Contact Us</a></li>
        </ul>
        </div>
    </footer>
</body>
</html>