body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.heroimage {
    max-width: 100%;
    margin-top: 200px;
}
.title-top {
    margin-top: -60%;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
}
.logo-image {
    max-width: 20%;
}
nav {
    background-color: rgb(193, 136, 101);
    overflow: hidden;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
.breadcrumb {
    padding: 0 .5rem;
}
.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: "→";
}
div {
    font-family: 'Quicksand', sans-serif;
}
img {
    margin-left: 18px;
    max-width: 250px;
}
.btn {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 101, 101);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 10;
    border: 3px black;
}
.card {
    width: 18rem;
    border: grey solid;
    border-radius: 10px;
}
footer {
    background-color: rgb(193, 136, 101);
    color: #fff;
    padding: 20px;
}
.footer-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container p {
    margin: 0;
}
.footer-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.footer-container li {
    margin: 0 10px;
}
.footer-container li a {
    color: #fff;
    text-decoration: none;
}
.footer-container li a:hover {
    text-decoration: underline;
}